

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem 10%;
    height: 5rem;
    background-color: #202020;
  }

  .navigation{
    float: right;
  }
  .navigation a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
  

  }
  .logo {
    font-size: 1.5rem;
    color: white;
    font-family: 'Fira', sans-serif;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: #94fdfd;
  }
  
  .logo a {
    text-decoration: none;
    color: white;

  }

  .navigation a:hover,
  .navigation a:active {
    text-decoration: none;
    color: red;

  }
  

  .header img {
   display: inline-block;
   background-color: white;
  }
.navigation ul {
  display:inline-block;
}
  .link{
    padding: 5px;
    display:inline-block;
    min-width: 110px;
  }

  @media (min-width: 768px) {
    .logo {
      font-size: 2.5rem;
    }
  
    .navigation a {
      font-size: 1.5rem;

    }
  }